@media screen {

    body {
        background-color: black;
        width: 100vw;
        overflow-x: hidden;
    }


    #container {
        width: 100vw;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        background-color: black;
    }


    .header_logo {
        width: 100%;
        height: 9em;
        display: inline-flex;
        justify-content: flex-start;
    }


    #cindercobra-logo {
        width: 15em;
        height: 9em ;
    }


    #nav-container {
        width: 100%;
        height: 3em;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-top: 1px solid #237e0c;
        border-bottom: 1px solid #237e0c;
    }


    nav {
        width: 100%;
        height: 3em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }


    #nav-items {
        width: 100%;
        height: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color: #ffffff;
        list-style: none;
    }


    a {
        text-decoration: none;
    }


    a:visited {
        color: #FFFFFF;
    }


    #h1-container {
        width: 100%;
        height: 10em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
    }


    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 0.3em;
        color: #ffffff;
        font-size: 6em;
    }


    p {
        font-family: monospace;
        color: #ffffff;
    }


    #welcome-text-container {
        width: 100%;
        height: 8em;
        display: inline-flex;
        justify-content: center;
    }


    #welcome-text {
        width: 50%;
        text-align: center;
    }


    span {
        color: #237e0c;
    }


    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #f4c430;
        margin-left: 0.5em;
        font-size: 2em;
    }


    #image-container {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 5em;
    }


    #pop-art-cobra-image {
        width: 20em;
        height: 20em;
    }


    #info-containers {
        width: 100%;
        height: 40%;
        display: inline-flex;
        justify-content: space-evenly;
    }


    #about-container {
        border: 0.5px solid #237e0c;
        width: 20%;
        height: 20em;
    }


    #blog-container {
        border: 0.5px solid #237e0c;
        width: 20%;
        height: 20em;
    }


    #testimonials-container {
        border: 0.5px solid #237e0c;
        width: 20%;
        height: 20em;
    }


    #about-text, #blog-text, #testimonials-text {
        margin-left: 1em;
        margin-right: 1em;
        text-align: left;
    }


    #footer-container {
        margin-top: 10em;
        width: 100%;
        display: inline-flex;
        border-top: 1px solid #28282B;
    }


    #cindercobra-logo-footer {
        width: 5em;
        height: 3em;
        margin-left: 1em;
    }


    #logo-and-links {
        width: 100%;
        height: 3em;
        display: inline-flex;
        align-items: flex-end;

    }


    li {
        width: 10em;
        height: 3em;
        margin-left: 4.5em;
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ffffff;

    }














}
