@media screen {

    body {
        background-color: black;
        width: 100vw;
        overflow-x: hidden;
    }


    #container {
        width: 100vw;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        background-color: black;
    }


    .header_logo {
        width: 100%;
        height: 9em;
        display: inline-flex;
        justify-content: flex-start;
    }


    #cindercobra-logo {
        width: 15em;
        height: 9em ;
    }


    #nav-container {
        width: 100%;
        height: 3em;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-top: 1px solid #237e0c;
        border-bottom: 1px solid #237e0c;
    }


    nav {
        width: 100%;
        height: 3em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }


    #nav-items {
        width: 100%;
        height: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color: #ffffff;
        list-style: none;
    }


    a {
        text-decoration: none;
    }


    a:visited {
        color: #FFFFFF;
    }


    #h1-container {
        width: 100%;
        height: 10em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
    }


    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 0.3em;
        color: #ffffff;
        font-size: 6em;
    }


    p {
        font-family: monospace;
        color: #ffffff;
    }


    #collection-text-container {
        width: 100%;
        height: 8em;
        display: inline-flex;
        justify-content: center;
    }


    #collection-text {
        width: 50%;
        text-align: center;
    }

    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2em;
        color: #f4c430;
        margin-left: 1em;
    }

    #cat-expressions-image, #sunflowers-image, #tree-branches-image {
        width: 15em;
        height: 15em;
        margin-left: 1em;
    }


    #latte-art-image, #tree-fell-on-car-image, #coffee-wall-chicago-starbucks-reserve-image {
        width: 15em;
        height: 15em;
        margin-left: 1em;
        margin-top: 1em;
    }

    #paintings, #collage, #mixed-media {
        color: #ffffff;
        font-family: monospace;
        font-size: 15px;
        margin-left: 2em;
    }

    #footer-container {
        width: 100%;
        height: 9em;
    }

}
